<div class="row">
    <div class="small-4 medium-3 large-3 columns">
        <input [(ngModel)]="_productFilter.text" type="text" placeholder="Pe. Uncharted">
    </div>
    <div class="small-4 medium-3 large-3 columns">
        <select [(ngModel)]="_productFilter.category">
            <option value="undefined" selected>Todos</option>
            <option *ngFor="let category of _categories" [value]="category.id">{{ category.name }}</option>
        </select>
    </div>
    <div class="small-4 medium-3 large-3 columns">
        <input type="checkbox" id="checkSellingFilter" [(ngModel)]="_productFilter.state">
        <label for="checkSellingFilter">En venta</label>
    </div>
    <div class="small-12 medium-3 large-3 columns">
        <button (click)="notifyHost()" class="button expanded">Buscar</button>
    </div>
</div>
