:host>div {
    border-top: 1px dashed #2199e8;
    margin-top: 128px;
    padding-top: 28px;
    margin-bottom: 20px;
}

.fa-heart-o {
    font-size: 28px;
    cursor: pointer;
    color: grey;
    vertical-align: top;
}

.fa-heart {
    font-size: 28px;
    cursor: pointer;
    color: red;
    vertical-align: top;
}

.fa-heart:active,
.fa-heart-o:active{
    cursor: pointer;
    color: gainsboro;
}
